@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
}
html,
body {
  background-color: #EFDCF9;
  height: 100%;
}

h3 {
  @apply text-xl;
}

p {
  @apply pb-5;
}

p a {
    @apply text-sky-500 font-semibold hover:font-bold;
}
