<div>
  <div class="grid place-content-center mt-8">
    <img class="rounded-full h-60" src="/images/tom.jpeg" />
  </div>

  <div class="grid place-content-center">
    <h1 class="grid place-content-center font-bold text-4xl pt-2">Tom's Blog</h1>
    <h2 class="text-xl pt-1">I'm a CS student based in the UK focused on Web Development!</h2>
  </div>
</div>
