<header>
  <div class="grid place-content-center">
    <img class="rounded-full overflow-hidden w-full flex-shrink-0 aspect-square h-48 mt-8 z-10" src="/images/tom.jpeg" />
  </div>

  <div>
    <h1 class="text-4xl font-bold pt-2 text-center">Tom's Blog</h1>
    <h2 class="text-xl px-8 xl:px-0 text-center">I'm a CS student based in the UK focused on Web Development!</h2>
  </div>
</header>
