---
  const posts = await Astro.glob('../pages/posts/*.md');
---

<div class="grid p-4 lg:p-8 gap-y-10 xl:gap-y-20 w-full">
  {posts.slice(0, 3).map((post) => (
    <article class="pb-4 border-b-2 border-black">
      <h1 class="font-bold text-3xl"><a class="hover:underline" href={post.frontmatter.url}>{post.frontmatter.title}</a></h1>
      <p class="italic">{post.frontmatter.description}</p>
    </article>
  ))}
</div>