---
import BaseHead from '../components/BaseHead.astro'

const { content } = Astro.props;
---
<html lang="en">
  <head>
    <BaseHead title={content.title} />
  </head>

	<body class="p-16 w-5/6">
    <h1 class="text-5xl font-semibold mb-10">{content.title}</h1>
		<slot />
	</body>

</html>
