---
import BaseHead from '../components/BaseHead.astro'

const { content } = Astro.props;
---
<html lang="en">
  <head>
    <BaseHead title={content.title} />
  </head>

	<body class="p-16 w-5/6">
    <h1 class="text-5xl font-semibold mb-10">{content.title}</h1>
		<slot />
	</body>


  <style>
    h3 {
      @apply text-xl;
    }

    p {
      @apply pb-5;
    }

    p a {
        @apply text-sky-500 font-semibold hover:font-bold;
    }
  </style>
  
</html>
