---
import BaseHead from '../components/BaseHead.astro'

const { content } = Astro.props;
---
<html lang="en">
  <head>
    <BaseHead title={content.title} />
  </head>

    <body class="p-16">
      <h1 class="text-5xl font-semibold mb-10">{content.title}</h1>

      <div class="prose prose-h3:text-xl prose-p:pb-5 prose-a:text-sky-500 prose-a:font-semibold hover:prose-a:font-bold">
        <slot />
      </div>
    </body>
</html>
